<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>staticlibrarytest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E1D67511E599EAB00C3B485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E1D67651E599EAD00C3B485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E1D67701E599EAD00C3B485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
